:root{
    --primary-color: #FAF5EC;
    --secondary-color: #074936;
    --auxiliary-color: #F57442;
}

body{
    background-color: var(--primary-color);
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #000;
}